.project
.chef
.arcconfig
**/.DS_Store
.rspec
.DS_Store
target/

# Intellij IDEA
.idea/
*.iml

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
.ruby-version
.kitchen/
.kitchen.local.yml
.settings



